<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:replace="layout :: site-head">
  <title>Spring MVC Blog</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div layout:replace="layout :: site-content">
  <div layout:fragment="content" th:remove="tag">
    <main>
      <div class="row alert alert-info message-row"
           style="display:none"
           id="message">
        <div class="container">
          <div>
            <span id="message-detail"></span>
            <span class="pull-right" id="close">&times;</span>
          </div>
        </div>
      </div>
      <!--<div class="jumbotron">
        <div class="container">
          <h2>Welcome to C Learning Management System</h2>
          <p>Easy to use, hard to give up and be your the best assistant</p>
          <p>
            <a class="btn btn-primary btn-lg"
               role="button"
               th:href="@{courses/new}">
              <span class="glyphicon glyphicon-plus"></span>
              Create Course
            </a>
          </p>
        </div>

      </div>-->
      <div class="container">
        <div class="row courses-body">
          <!--/*@thymesVar id="courseList" type="java.util.List<com.eugene.domain.Course>"*/-->
          <div class="col-sm-6 col-md-4 col-xs-12" th:each="course: ${courseList}">
            <a th:href="@{/courses/{courseId}(courseId=${course.courseId})}">
              <div class="thumbnail box">
                <img th:src="${course.courseImageUrl}" alt="img"/>
                <div class="caption">
                  <h3
                    th:text="${course.courseName + ' (' + course.courseWeekCount + (course.courseWeekCount > 1 ? ' weeks' : ' week') + ')'}"></h3>
                  <p th:text="${course.courseSummary}"></p>
                </div>
                <div class="course-footer row">

                  <div class="btn-action btn-show">
                    <a
                      class="btn btn-primary"
                      th:href="@{/courses/{courseId}(courseId=${course.courseId})}">
                      <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                  </div>
                  <div class="btn-action btn-modify">
                    <a
                      class="btn btn-warning"
                      th:href="@{/courses/{courseId}/edit(courseId=${course.courseId})}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </div>
                  <div class="btn-action btn-delete">
                    <a
                      class="btn btn-danger"
                      th:id="'delete-course-' + ${course.courseId}"
                      th:href="@{/courses/delete/{courseId}(courseId=${course.courseId})}">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </div>

                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer layout:replace="layout :: site-footer" th:remove="tag"></footer>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    let deleteLink = $("[id^=delete-course]");
    $(deleteLink).click(function (event) {
      event.preventDefault();
      let suffix = $(this).attr("href");
      console.log(suffix);
      swal({
        title: "Are you sure?",
        text: "You will not be able to recover this item!",
        type: "warning",
        showCancelButton: true,
        cancelButtonColor: "#3085d6",
        confirmButtonColor: "#DD6B55",
        focusCancel: true,
        confirmButtonText: "Delete",
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: function () {
          return new Promise(function (resolve) {
            resolve();
          });
        }
      }).then(function () {
        $.ajax({
          url: suffix,
          type: "DELETE",
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
          },
          success: function () {
            swal(
              'Deleted!',
              'Your item has been deleted.',
              'success'
            );
            console.log($(event.target).closest(".panel").attr('id'));
            $(event.target).closest("[class^=col-]").fadeOut();
//            let message = $('#message');
//            $(message).show();
//            $(message).find("#message-detail").text("Course was successfully removed")
          },
          error: function () {
            swal(
              'Error!',
              'Your item has not been deleted.',
              'error'
            );
          }
        });
      }).catch(swal.noop);
    });

    $("#close").on('click', function (event) {
      $(event.target).closest(".row").fadeOut();
    });
  });
</script>
</body>
</html>
