<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head layout:replace="layout :: site-head">
  <link rel="stylesheet" th:href="@{/css/course.css}"/>
  <title>Course Detail</title>
</head>
<body>
<!--<h1>Hello WOlrd</h1>-->
<div layout:replace="layout :: site-content">
  <div layout:fragment="content" th:remove="tag">
    <!--/*@thymesVar id="course" type="com.eugene.domain.Course"*/-->
    <header
      th:style="'background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(' + ${course.courseImageUrl} + ');'">
      <p class="course-name" th:text="${course.courseName}"></p>
      <p class="course-summary" th:text="${course.courseSummary}"></p>
    </header>
    <div id="my-layout"
         class="my-mdl-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <nav class="mdl-navigation mdl-cell">
            <a class="mdl-navigation__link flex-link mdl-cell" href="#"></a>
            <a class="mdl-navigation__link flex-link mdl-cell mdl-typography--text-uppercase is-active" href="#">Unit</a>
            <a class="mdl-navigation__link flex-link mdl-cell mdl-typography--text-uppercase" href="#">Assignment</a>
            <a class="mdl-navigation__link flex-link mdl-cell mdl-typography--text-uppercase" href="#">Summary</a>
            <a class="mdl-navigation__link flex-link mdl-cell" href="#"></a>
          </nav>
          <div sec:authorize="isAuthenticated()"
               class="search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width flex-link">
            <button class="mdl-button mdl-js-button mdl-button--icon" id="add-button-1">
              <i class="material-icons">add</i>
            </button>
            <div class="mdl-textfield__expandable-holder">
              <!--<input class="mdl-textfield__input" type="text" id="search-field"/>-->
            </div>
            <!--<div>-->
            <button class="mdl-button mdl-js-button mdl-button--icon" id="more-button-1">
              <i class="material-icons">more_vert</i>
            </button>
            <div class="mdl-textfield__expandable-holder">
              <!--<input class="mdl-textfield__input" type="text" id="search-field"/>-->
            </div>
            <!--</div>-->
            <!--<div th:include="layout :: right-menu(2)"></div>-->
          </div>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button-1">
            <li class="mdl-menu__item"><a th:href="@{/profile}">Change profile</a></li>
            <li class="mdl-menu__item"><a th:href="@{/password}">Change Password</a></li>
            <li class="drawer-separator"></li>
            <li class="mdl-menu__item"><a th:href="@{/logout}">Sign out</a></li>
            <!--<li class="mdl-menu__item">4.3 Jelly Bean</li>-->
            <!--<li class="mdl-menu__item">Android History</li>-->
          </ul>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="add-button-1">
            <li class="mdl-menu__item"><a th:href="@{/courses/new}">Create course</a></li>
            <li class="drawer-separator"></li>
            <li class="mdl-menu__item"><a th:href="@{/}">Some action else</a></li>
            <!--<li class="mdl-menu__item">4.3 Jelly Bean</li>-->
            <!--<li class="mdl-menu__item">Android History</li>-->
          </ul>
        </div>
      </div>
      <div class="mdl-layout__drawer">
        <nav layout:include="layout :: site-drawer-navigation" class="mdl-navigation">
        </nav>
      </div>
      <div class="content mdl-layout__content">
        <a name="top"></a>
        <main>
          <!--&lt;!&ndash;/*@thymesVar id="message" type=""*/&ndash;&gt;
          <div class="row alert alert-info message-row" th:if="${message}">
          <div class="container">
          <div>
          <span th:text="${message}"></span>
          <span class="pull-right" id="close">&times;</span>
          </div>
          </div>
          </div>
          <div class="jumbotron">
          <div class="container">
          &lt;!&ndash;/*@thymesVar id="course" type="com.eugene.domain.Course"*/&ndash;&gt;
          <h3
          th:text="${course.courseName + ' (' + course.courseWeekCount + (course.courseWeekCount > 1 ? ' weeks' : ' week') + ')'}"></h3>
          <p>
          <span th:remove="tag" th:utext="${course.courseSummary}"></span>
          </p>
          <p th:if="${course.courseOutline.length() != 0}">
          <a href="#"
          class="collapsed"
          data-toggle="collapse"
          data-target="#demo"
          >
          Click to see Course outline &nbsp;
          </a>
          </p>
          <div id="demo"
          class="collapse">
          <p th:remove="tag"
          th:utext="${course.courseOutline}">
          </p>
          </div>
          </div>
          </div>
          <div class="container unit-container">
          <div class="row">
          <div class="col-md-8">
          <h3 th:if="${units.size() > 0}"
          th:inline="text">
          [[${'Total: ' + course.unitList.size() + (course.unitList.size() > 1 ? ' units' : ' unit')}]]
          <a th:href="@{__${#httpServletRequest.requestURI}__/units/new}"
          class="btn btn-info pull-right">
          Create Unit
          </a>
          </h3>
          <h3 th:if="${units.size() == 0}"
          th:inline="text">
          &lt;!&ndash;[[${'Total: ' + course.unitList.size() + (course.unitList.size() > 1 ? ' units' : ' unit')}]]&ndash;&gt;
          [[${"There's no Unit yet"}]]
          <a th:href="@{__${#httpServletRequest.requestURI}__/units/new}"
          class="btn btn-info pull-right">
          Create Unit
          </a>
          </h3>
          <hr/>
          &lt;!&ndash;/*@thymesVar id="units" type="java.util.List<com.eugene.domain.Unit>"*/&ndash;&gt;
          <div class="unit" th:each="unit : ${units}">
          <div class="panel panel-default" th:id="'panel-' + ${unit.unitId}">
          <div class="panel-heading">
          <h4 class="panel-title">
          <a
          th:inline="text"
          class="unit-name collapsed panel-title pull-left"
          data-toggle="collapse"
          th:attr="data-target='#demo' + ${unit.unitId}"
          data-target="#demo1">
          [[${'Unit ' + unit.unitPosition + ': ' + unit.unitName}]]
          <small th:if="${unit.unitSummary.length() > 0}" th:text="${' - ' + unit.unitSummary}"></small>
          </a>
          </h4>
          <a th:href="@{__${#httpServletRequest.requestURI}__/units/{unitId}/edit(unitId=${unit.unitId})}"
          class="btn btn-warning pull-right btn-action">
          <span class="glyphicon glyphicon-pencil"></span>
          </a>

          <a th:href="@{delete/{unitId}(unitId=${unit.unitId})}"
          th:id="'delete-unit-' + ${unit.unitId}"
          class="btn btn-danger pull-right btn-action">
          <span class="glyphicon glyphicon-trash"></span>
          </a>
          <div class="clearfix"></div>
          </div>
          <div th:id="${'demo' + unit.unitId}" class="collapse">
          <div class="panel-body">
          <div
          >
          <p th:if="${unit.unitDetail.length() > 0}" th:remove="tag"
          th:utext="${unit.unitDetail}">
          </p>
          <p th:if="${unit.unitDetail.length() == 0}" th:remove="tag"
          th:utext="${'There is no unit detail yet'}">
          </p>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</div>
<footer layout:replace="layout :: site-footer" th:remove="tag">
</footer>
<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function () {
    let top = $("#my-layout").offset().top; //gets offset of header
    window.onresize = function (event) {
      console.log("resize cmnr");
      top = $("#my-layout").offset().top;
      console.log(top);
      let viewportWidth = $(window).width();
      if (viewportWidth <= 900) {
        $(layout).find(".mdl-layout__drawer-button").css({"display": "block"});
        $(layout).find(".search-box").css({"display": "block"})
      }

      if (viewportWidth > 900) {
        $("#top-nav").show();
        $(layout).find(".mdl-layout__drawer-button").css({"display": "none"});
        $(layout).find(".search-box").css({"display": "none"})
      }
    };
    $("#close").on('click', function (event) {
      $(event.target).closest(".row").fadeOut();
    });
    let deleteLink = $("[id^=delete-unit]");
    $(deleteLink).click(function (event) {
      event.preventDefault();
      let prefix = window.location.pathname;
      let suffix = $(this).attr("href");
      let url = prefix + '/units/' + suffix;
      swal({
        title: "Are you sure?",
        text: "You will not be able to recover this item!",
        type: "warning",
        showCancelButton: true,
        cancelButtonColor: "#3085d6",
        confirmButtonColor: "#DD6B55",
        focusCancel: true,
        confirmButtonText: "Delete",
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: function () {
          return new Promise(function (resolve) {
            resolve();
          });
        }
      }).then(function () {
        $.ajax({
          url: url,
          type: "DELETE",
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
          },
          success: function (unit) {
            swal(
              'Deleted!',
              'Your item has been deleted.',
              'success'
            );
            $(event.target).closest(".panel").fadeOut();
          },
          error: function () {
            swal(
              'Error!',
              'Your item has not been deleted.',
              'error'
            );
          }
        });
      }).catch(swal.noop);
    });

    let layout = $(".mdl-layout__content");

    $(layout).scroll(function () {
      console.log("TOP" + (Math.round(top)));
      console.log("scrollTop" + Math.round($(layout).scrollTop()));
      if (Math.round($(layout).scrollTop() + 1) >= (Math.round(top))) {
        $("#top-nav").hide();
        $(layout).find(".mdl-layout__drawer-button").css({"display": "block"});
        $(layout).find(".search-box").css({"display": "block"})
      }
      else {
        $("#top-nav").show();
        $(layout).find(".mdl-layout__drawer-button").css({"display": "none"});
        $(layout).find(".search-box").css({"display": "none"})
      }
    });
  });
  //]]>
</script>
</body>
</html>
