<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head layout:replace="layout :: site-head">
  <link rel="stylesheet" th:href="@{/css/course.css}"/>
  <link rel="stylesheet" th:href="@{/css/week_table.css}"/>
  <link rel="stylesheet" th:href="@{/css/unit_content.css}"/>
  <title>Course Detail</title>
</head>
<body>
<div layout:replace="layout :: site-content">
  <div layout:fragment="content" th:remove="tag">
    <!--/*@thymesVar id="course" type="com.eugene.domain.Course"*/-->
    <header
      th:style="'background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(' + ${course.courseImageUrl} + ');'">
      <p class="course-name" th:text="${course.courseName}"></p>
      <p class="course-summary" th:text="${course.courseSummary}"></p>
    </header>
    <div id="my-layout"
         class="my-mdl-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <nav class="mdl-navigation mdl-cell">
            <a class="mdl-navigation__link flex-link mdl-cell" href="#"></a>
            <a class="mdl-navigation__link flex-link mdl-cell mdl-typography--text-uppercase is-active"
               href="#">Unit</a>
            <a class="mdl-navigation__link flex-link mdl-cell mdl-typography--text-uppercase" href="#">Assignment</a>
            <a class="mdl-navigation__link flex-link mdl-cell mdl-typography--text-uppercase" href="#">Summary</a>
            <a class="mdl-navigation__link flex-link mdl-cell" href="#"></a>
          </nav>
          <div sec:authorize="isAuthenticated()"
               class="search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width flex-link">
            <button class="mdl-button mdl-js-button mdl-button--icon" id="add-button-1">
              <i class="material-icons">add</i>
            </button>
            <div class="mdl-textfield__expandable-holder">
              <!--<input class="mdl-textfield__input" type="text" id="search-field"/>-->
            </div>
            <!--<div>-->
            <button class="mdl-button mdl-js-button mdl-button--icon" id="more-button-1">
              <i class="material-icons">more_vert</i>
            </button>
            <div class="mdl-textfield__expandable-holder">
              <!--<input class="mdl-textfield__input" type="text" id="search-field"/>-->
            </div>
          </div>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button-1">
            <li class="mdl-menu__item"><a th:href="@{/profile}">Change profile</a></li>
            <li class="mdl-menu__item"><a th:href="@{/password}">Change Password</a></li>
            <li class="drawer-separator"></li>
            <li class="mdl-menu__item"><a th:href="@{/logout}">Sign out</a></li>
          </ul>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="add-button-1">
            <li class="mdl-menu__item"><a th:href="@{/courses/new}">Create course</a></li>
            <li class="drawer-separator"></li>
            <li class="mdl-menu__item"><a th:href="@{/}">Some action else</a></li>
          </ul>
        </div>
      </div>
      <div class="mdl-layout__drawer">
        <nav layout:include="layout :: site-drawer-navigation" class="mdl-navigation">
        </nav>
      </div>
      <div class="content mdl-layout__content" id="body-content">
        <a name="top"></a>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet">
            <table class="mdl-data-table mdl-js-data-table">
              <tbody>
              <tr th:each="i : ${#numbers.sequence(1, course.courseWeekCount, 1)}" th:classappend="${week==i} ? 'is-active' : 'non-active'">
                <td class="mdl-data-table__cell--non-numeric">
                  <a class="mdl-navigation__link" th:href="@{${i}}" th:text="'Week ' + ${i}"></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="mdl-cell mdl-cell mdl-cell--9-col mdl-cell--9-col-tablet unit-content">
            <!--/*@thymesVar id="unit" type="com.eugene.domain.Unit"*/-->
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" th:if="${unit!=null}">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text" th:text="${unit.unitName}">Welcome</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <h4 class="title-text">Summary: </h4>
                <p th:text="${unit.unitSummary}"></p>
                <h4 class="title-text">Detail: </h4>
                <p th:utext="${unit.unitDetail}"></p>
              </div>
              <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="unit-menu">
                  <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="unit-menu">
                  <li class="mdl-menu__item"><a th:href="@{__${#httpServletRequest.requestURI}__/units/{unitId}/edit(unitId=${unit.unitId})}">Edit</a></li>
                  <li class="mdl-menu__item"><a th:href="@{delete/{unitId}(unitId=${unit.unitId})}" th:id="'delete-unit-' + ${unit.unitId}">Delete</a></li>
                </ul>
              </div>
            </div>
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" th:if="${unit==null}">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Opps!!!</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <p>There are no content here. Create one and let's rock!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer layout:replace="layout :: site-footer" th:remove="tag">
</footer>
<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function () {
    let top = $("#my-layout").offset().top; //gets offset of header
    window.onresize = function (event) {
      console.log("resize cmnr");
      top = $("#my-layout").offset().top;
      console.log(top);
      let viewportWidth = $(window).width();
      if (viewportWidth <= 900) {
        $(layout).find(".mdl-layout__drawer-button").css({"display": "block"});
        $(layout).find(".search-box").css({"display": "block"})
      }

      if (viewportWidth > 900) {
        $("#top-nav").show();
        $(layout).find(".mdl-layout__drawer-button").css({"display": "none"});
        $(layout).find(".search-box").css({"display": "none"})
      }
    };

    $("#close").on('click', function (event) {
      $(event.target).closest(".row").fadeOut();
    });

    let deleteLink = $("[id^=delete-unit]");
    $(deleteLink).click(function (event) {
      event.preventDefault();
      let prefix = window.location.pathname;
      let suffix = $(this).attr("href");
      let url = prefix + "/" +suffix;
      console.log(url);
      swal({
        title: "Are you sure?",
        text: "You will not be able to recover this item!",
        type: "warning",
        showCancelButton: true,
        cancelButtonColor: "#3085d6",
        confirmButtonColor: "#DD6B55",
        focusCancel: true,
        confirmButtonText: "Delete",
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: function () {
          return new Promise(function (resolve) {
            resolve();
          });
        }
      }).then(function () {
        $.ajax({
          url: url,
          type: "DELETE",
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
          },
          success: function (unit) {
            swal(
              'Deleted!',
              'Your item has been deleted.',
              'success'
            );
            $(event.target).closest(".demo-card-wide").fadeOut();
          },
          error: function () {
            swal(
              'Error!',
              'Your item has not been deleted.',
              'error'
            );
          }
        });
      }).catch(swal.noop);
    });

    let layout = $(".mdl-layout__content");
    $(layout).scroll(function () {
//      console.log("TOP" + (Math.round(top)));
//      console.log("scrollTop" + Math.round($(layout).scrollTop()));
      if (Math.round($(layout).scrollTop() + 1) >= (Math.round(top))) {
        $("#top-nav").hide();
        $(layout).find(".mdl-layout__drawer-button").css({"display": "block"});
        $(layout).find(".search-box").css({"display": "block"})
      }
      else {
        $("#top-nav").show();
        $(layout).find(".mdl-layout__drawer-button").css({"display": "none"});
        $(layout).find(".search-box").css({"display": "none"})
      }
    });

    $('#body-content').perfectScrollbar({

    });
  });
  //]]>
</script>
</body>
</html>
