<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:replace="layout :: site-head">
  <link rel="stylesheet" th:href="@{/css/form.css}"/>
  <title>Edit Assignment</title>
</head>
<body>
<div layout:replace="layout :: site-content">
  <div layout:fragment="content" th:remove="tag">
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-heading heading">
                <h4>Edit Assignment</h4>
              </div>
              <div class="panel-body">
                <div>
                  <!--/*@thymesVar id="assignment" type="com.eugene.domain.NgoManhCuong_05_Assignment"*/-->
                  <form class="form"
                        th:object="${assignment}"
                        th:action="@{update}"
                        method="post">
                    <input type="hidden" th:field="*{assignmentId}"/>
                    <input type="hidden" th:field="*{unit}" th:value="${assignment.getUnit().getUnitId()}"/>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                          <label class="">Assignment Name:</label>
                          <div class="">
                            <input type="text" class="form-control" th:field="*{assignmentName}"/>
                            <span th:if="${#fields.hasErrors('assignmentName')}" th:errors="*{assignmentName}">Name Error</span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="">Assignment Detail:</label>
                          <div class="">
                            <textarea type="text" class="form-control" th:field="*{assignmentDetail}"></textarea>
                            <span th:if="${#fields.hasErrors('assignmentDetail')}" th:errors="*{assignmentDetail}">Detail Error</span>
                          </div>
                        </div>
                      </div>
                      <!--<div class="col-md-12 col-sm-12">-->
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Start Date:</label>
                          <div class="input-group date" id="start-datetimepicker">
                            <input type="text" class="form-control" th:field="*{assignmentStartDate}"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                          </div>
                          <span th:if="${#fields.hasErrors('assignmentStartDate')}"
                                th:errors="*{assignmentStartDate}">Start Date Error</span>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>End Date:</label>
                          <div class="input-group date" id="end-datetimepicker">
                            <input type="text" class="form-control" th:field="*{assignmentEndDate}"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                          </div>
                          <span th:if="${#fields.hasErrors('assignmentEndDate')}" th:errors="*{assignmentEndDate}">Start Date Error</span>
                        </div>
                      </div>
                      <!--</div>-->
                      <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">Update Assignment</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer layout:replace="layout :: site-footer"></footer>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#start-datetimepicker, #end-datetimepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss'
    });
  });
</script>
</body>
</html>
