<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Access Denied Page - ProgrammingFree</title>
</head>
<body>  
 <div class="alert-danger">
    <h3>You do not have permission to access this page!</h3>
   </div>
 <form th:action="@{/logout}" method="post">
    <input type="submit" class="button red big" value="Sign in as different user" />
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
   </form>  
</body>
</html>
