<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
  <link rel="stylesheet" th:href="@{/css/form.css}"/>
  <title>Change Password</title>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-md-offset-1">
        <!--/*@thymesVar id="message" type=""*/-->
        <div class="alert alert-info message-row" th:if="${message}">
          <div>
            <span th:text="${message}"></span>
            <span class="pull-right" id="close">&times;</span>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-12 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading heading">
            <h4>CHANGE PASSWORD</h4>
          </div>
          <div class="panel-body">
            <!--/*@thymesVar id="user" type="com.eugene.domain.User"*/-->
            <form class="form"
                  th:object="${user}"
                  th:action="@{/password/update}"
                  method="post">
              <input type="hidden" th:field="*{userId}"/>
              <input type="hidden" th:field="*{email}"/>
              <input type="hidden" th:field="*{username}"/>
              <div class="row">
                <div class="col-md-7 col-sm-7">
                  <div class="form-group">
                    <label>Old Password:</label>
                    <input type="password" class="form-control" th:field="*{oldPassword}"/>
                      <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old Password Error</span>
                  </div>

                  <div class="form-group">
                    <label>New Password:</label>
                    <input type="password" class="form-control" th:field="*{newPassword}"/>
                    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</span>
                  </div>

                  <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" th:field="*{retypePassword}"/>
                    <span th:if="${#fields.hasErrors('retypePassword')}" th:errors="*{retypePassword}">retypePassword Password Error</span>
                  </div>

                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btn-submit">Update Password</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="layout :: site-footer"></footer>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<script>
  $(document).ready(function () {
    $('#btn-submit').on('click', function () {
      $(".se-pre-con").show("slow");
    });
    $("#close").on('click', function (event) {
      $(event.target).closest("[class^=col-]").remove();
    });
    let summernote = $('#summernote');
    $(summernote).summernote({
      height: 300
    });
  });
</script>
</body>
</html>
