main
  margin: 80px auto
  .unit-container
    .unit
      .panel.panel-default
        .panel-heading
          .btn-action
            margin: 0 5px
          .panel-title
            font-weight: bold
            .panel-title:hover
              cursor: pointer
      //#detail, u
      //  text-decoration: none
      //#detail:after
      //  font-family: 'Glyphicons Halflings'
      //  content: "\e114"
      //#detail.collapsed:after
      //  font-family: 'Glyphicons Halflings'
      //  content: "\e080"
      .unit-name
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        line-height: normal
        width: 75%
        padding-top: 8px
  .jumbotron
    p
      font-size: 16px
    .container
      a, u
        text-decoration: none
      a:after
        font-family: 'Glyphicons Halflings'
        content: "\e114"
      a.collapsed:after
        font-family: 'Glyphicons Halflings'
        content: "\e080"
  .message-row
    .container
      span#close:hover
        cursor: pointer

