body
  font-family: 'Noto Sans', sans-serif !important
  header
    .navbar-default
      background-color: #3b5998
      border-color: #3b5998
      .navbar-toggle
        border-color: darkslategray
        .icon-bar
          background-color: white
      .navbar-brand
        color: white
      .navbar-brand:hover
        color: white
      .navbar-collapse
        a
          color: white
        a:hover
          color: white
  .footer
    position: fixed
    bottom: 0
    background-color: #3b5998
    width: 100%

    .container
      padding: 15px
      color: white
