body {
  font-family: "Noto Sans", sans-serif !important;
  background-color: #eee !important; }
  body #create-unit, body #create-unit-1, body #create-unit-2 {
    display: none; }
  body .panel.panel-default .panel-heading.heading {
    background-color: #009688;
    color: white; }
    body .panel.panel-default .panel-heading.heading > p {
      font-size: 24px;
      margin: 0; }
  body .panel.panel-default .panel-body .form, body .panel.panel-default .panel-body .form-horizontal {
    margin: 40px; }
  body .btn.btn-primary {
    background-color: #009688;
    border-color: #009688; }
  body header .navbar-default {
    height: 6.4rem;
    background-color: #009688;
    border-color: #009688;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.54); }
    body header .navbar-default .nav-container {
      height: 100%; }
    body header .navbar-default .navbar-toggle {
      border-color: #009688; }
      body header .navbar-default .navbar-toggle .icon-bar {
        background-color: white; }
      body header .navbar-default .navbar-toggle:hover, body header .navbar-default .navbar-toggle:active, body header .navbar-default .navbar-toggle:visited, body header .navbar-default .navbar-toggle:focus {
        background-color: #009688; }
    body header .navbar-default .navbar-brand {
      color: white;
      padding: 0; }
      body header .navbar-default .navbar-brand img {
        height: 100%; }
    body header .navbar-default .navbar-brand:hover {
      color: white; }
    body header .navbar-default .navbar-nav a, body header .navbar-default .navbar-nav a:focus, body header .navbar-default .navbar-nav a:hover, body header .navbar-default .navbar-nav a:visited {
      color: white; }
    body header .navbar-default .navbar-nav .dropdown > a, body header .navbar-default .navbar-nav .dropdown a:focus, body header .navbar-default .navbar-nav .dropdown a:hover, body header .navbar-default .navbar-nav .dropdown a:visited {
      color: white;
      background-color: #009688; }
    body header .navbar-default .navbar-nav .dropdown .dropdown-menu {
      background-color: #009688; }
      body header .navbar-default .navbar-nav .dropdown .dropdown-menu a:hover {
        background-color: #009688; }
    body header .navbar-default .navbar-nav .dropdown .dropdown-toggle {
      padding: 5px; }
      body header .navbar-default .navbar-nav .dropdown .dropdown-toggle img {
        border-radius: 4px;
        max-width: 40px;
        max-height: 40px; }
    body header .navbar-default .navbar-header .info-nav .navbar-text {
      color: white; }
    body header .navbar-default .navbar-header .info-nav .dropdown .dropdown-toggle {
      color: white;
      background-color: #009688;
      padding: 5px; }
      body header .navbar-default .navbar-header .info-nav .dropdown .dropdown-toggle img {
        border-radius: 4px;
        max-width: 40px;
        max-height: 40px; }
    body header .navbar-default .navbar-header.navbar-left.pull-left, body header .navbar-default .navbar-header.navbar-right.pull-right {
      height: 100%;
      display: flex;
      align-items: center; }
  body .footer {
    position: fixed;
    bottom: 0;
    background-color: #009688;
    width: 100%;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.54); }
    body .footer .container {
      padding: 15px;
      color: white; }

/*# sourceMappingURL=layout.css.map */
