body
  font-family: 'Noto Sans', sans-serif !important
  header
    .navbar-default
      background-color: #3b5998
      border-color: #3b5998
      .navbar-toggle
        border-color: darkslategray
        .icon-bar
          background-color: white
        &:hover, &:active, &:visited, &:focus
          background-color: #3b5998
      .navbar-brand
        color: white
        padding: 0
        img
          height: 100%
      .navbar-brand:hover
        color: white
      .navbar-nav
        a, a:hover
          color: white
  .footer
    position: fixed
    bottom: 0
    background-color: #3b5998
    width: 100%
    .container
      padding: 15px
      color: white
