<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <title>Course</title>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
  <div class="jumbotron">
    <div class="container">
      <!--/*@thymesVar id="course" type="com.eugene.domain.Course"*/-->
      <h1 th:text="${course.courseName}"></h1>
      <p th:text="${course.courseSummary}"></p>
      <h4 th:text="${'Course lenght: ' + course.courseWeekCount + (course.courseWeekCount > 1 ? ' weeks' : ' week')}"></h4>
      <h4 th:text="${'Total unit: ' + course.unitList.size()}"></h4>
    </div>
  </div>
  <div class="container">

  </div>

</main>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>
