<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
  <link rel="stylesheet" th:href="@{/css/course.css}"/>
  <title>Course Detail</title>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
  <div class="jumbotron">
    <div class="container">
      <!--/*@thymesVar id="course" type="com.eugene.domain.Course"*/-->
      <h3
        th:text="${course.courseName + ' (' + course.courseWeekCount + (course.courseWeekCount > 1 ? ' weeks' : ' week') + ')'}"></h3>
      <p>
        <span th:remove="tag" th:utext="${course.courseSummary}"></span>
      </p>
      <p>
        <a href="#"
           class="collapsed"
           data-toggle="collapse"
           data-target="#demo"
           th:if="${course.courseOutline != null}">
          Click to see Course outline &nbsp;
        </a>
      </p>
      <div id="demo"
           class="collapse">
        <p th:remove="tag"
           th:utext="${course.courseOutline}">
        </p>
      </div>
    </div>
  </div>
  <div class="container unit-container">
    <div class="row">
      <div class="col-md-8">
        <h2
          th:inline="text">
          <!--[[${'Total: ' + course.unitList.size() + (course.unitList.size() > 1 ? ' units' : ' unit')}]]-->
          [[${'Unit List'}]]
          <a th:href="@{__${#httpServletRequest.requestURI}__/units/new}"
             class="btn btn-info pull-right">
            Create Unit
          </a>
        </h2>
        <hr/>
        <!--/*@thymesVar id="units" type="java.util.List<com.eugene.domain.Unit>"*/-->
        <div class="unit" th:each="unit : ${units}">
          <div class="panel panel-default" th:id="'panel-' + ${unit.unitId}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  th:inline="text"
                  class="unit-name collapsed panel-title pull-left"
                  data-toggle="collapse"
                  th:attr="data-target='#demo' + ${unit.unitId}"
                  data-target="#demo1">
                  [[${'Unit ' + unit.unitPosition + ': ' + unit.unitName}]]
                  <small th:text="${' - ' + unit.unitSummary}"></small>
                </a>
              </h4>
              <a th:href="@{/test_editor}"
                 class="btn btn-warning pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>

              <a th:href="@{delete/{unitId}(unitId=${unit.unitId})}"
                th:id="'delete-unit-' + ${unit.unitId}"
                 class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <div class="clearfix"></div>
            </div>
            <div th:id="${'demo' + unit.unitId}" class="collapse">
              <div class="panel-body">
                <div
                >
                  <p th:remove="tag"
                     th:utext="${unit.unitDetail}">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<footer th:replace="layout :: site-footer"></footer>
<script type="text/javascript" th:inline="javascript">
  $(document).ready(function () {
    var deleteLink = $("[id^=delete-unit]");

    $(deleteLink).click(function (event) {
      var prefix = window.location.pathname;
      console.log("prefix" + prefix);
      var suffix = $(this).attr("href");
      console.log("suffix" + suffix);
      var url = prefix + '/units/' + suffix;
      console.log(url);
      $.ajax({
        url: url,
        type: "DELETE",
        beforeSend: function (xhr) {
          xhr.setRequestHeader("Accept", "application/json");
          xhr.setRequestHeader("Content-Type", "application/json");
        },
        success: function (unit) {
          console.log($(event.target).closest(".panel").attr('id'));
          $(event.target).closest(".panel").remove();
        }
      });
      event.preventDefault();
    });
  });

</script>
</body>
</html>
