<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css"/>
  <script defer="defer" src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</head>
<body>
<button id="show-dialog" type="button" class="mdl-button">Show Dialog</button>
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Delete this</h4>
  <div class="mdl-dialog__content">
    <p>
      Do you really want to delete this??
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Yes</button>
    <button type="button" class="mdl-button close">No</button>
  </div>
</dialog>
<script>
  var dialog = document.querySelector('dialog');
  var showDialogButton = document.querySelector('#show-dialog');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
</script>
</body>
</html>
