<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
  <title>Spring MVC Blog</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
  <div class="row alert alert-info message-row"
       style="display:none"
       id="message">
    <div class="container">
      <div>
        <span id="message-detail"></span>
        <span class="pull-right" id="close">&times;</span>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h2>Welcome to C Learning Management System</h2>
      <p>Easy to use, hard to give up and be your the best assistant</p>
      <p>
        <a class="btn btn-primary btn-lg"
           role="button"
           th:href="@{course/new}">
          <span class="glyphicon glyphicon-plus"></span>
          Create Course
        </a>
      </p>
    </div>

  </div>
  <div class="container">
    <div class="row courses-body">
      <!--/*@thymesVar id="courseList" type="java.util.List<com.eugene.domain.Course>"*/-->
      <div class="col-sm-6 col-md-4" th:each="course: ${courseList}">
        <div class="thumbnail box">
          <img th:src="${course.courseImageUrl}" alt="img"/>
          <div class="caption">
            <h3
              th:text="${course.courseName + ' (' + course.courseWeekCount + (course.courseWeekCount > 1 ? ' weeks' : ' week') + ')'}"></h3>
            <p th:text="${course.courseSummary}"></p>
          </div>
          <div class="course-footer row">
            <!-- TODO Change onSubmit to thymeleaf-->
            <form
              th:action="@{/courses/{courseId}/remove(courseId=${course.courseId})}"
              th:method="delete"
              onsubmit="return !!confirm('Are you sure?')"
            >
              <div class="btn-action btn-show">
                <a
                  class="btn btn-primary"
                  th:href="@{/courses/{courseId}(courseId=${course.courseId})}">
                  <span class="glyphicon glyphicon-share-alt"></span>
                </a>
              </div>
              <div class="btn-action btn-modify">
                <a
                  class="btn btn-warning"
                  th:href="@{/courses/edit/{courseId}(courseId=${course.courseId})}">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </div>
              <div class="btn-action btn-delete">
                <a
                  class="btn btn-danger"
                  th:id="'delete-course-' + ${course.courseId}"
                  th:href="@{/courses/delete/{courseId}(courseId=${course.courseId})}">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<footer th:replace="layout :: site-footer"></footer>
<script type="text/javascript">
  $(document).ready(function () {
    var deleteLink = $("[id^=delete-course]");
    $(deleteLink).click(function (event) {
      var suffix = $(this).attr("href");
      console.log(suffix);

      if (confirm("Are you sure?")) {
        $.ajax({
          url: suffix,
          type: "DELETE",
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
          },
          success: function (unit) {
            console.log($(event.target).closest(".panel").attr('id'));
            $(event.target).closest("[class^=col-]").remove();
            $("#message").show();
            $("#message").find("#message-detail").text("Course was successfully removed")
          }
        });
      }
      event.preventDefault();
    });
  });
</script>
</body>
</html>
