<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="site-head">
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <!--Summernote-->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet"/>
  <!--Font-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"/>
  <!--Image upload-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"/>
  <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar-left pull-left">
        <a class="navbar-brand" th:href="@{/}">
          <span>
          <img src="https://bwatwood.edublogs.org/files/2015/07/icon-e-learning-1b72z9p.png" alt="icon"/>
          LMS
          </span>
        </a>
      </div>
      <div class="navbar-header navbar-right pull-right">
        <ul class="nav pull-left info-nav" sec:authorize="isAuthenticated()">
          <!--<li id="hidden-text"><a th:text="${#authentication.name}"></a></li>-->
          <li class="navbar-text pull-left" th:text="${#authentication.name}">User Name</li>
          <li class="dropdown pull-right">
            <a class="dropdown-toggle"
               id="menu1"
               data-toggle="dropdown"
               role="button"
            >
              <img th:src="${#authentication.principal.userImageUrl}" alt="avatar"/>
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu1">
              <li><a th:href="@{/profile}">Change profile</a></li>
              <li><a href="#">Change Password</a></li>
              <li role="separator" class="divider"></li>
              <li><a th:href="@{/logout}">Sign out</a></li>
            </ul>
          </li>
        </ul>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
                sec:authorize="isAnonymous()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="visible-xs-block clearfix"></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" sec:authorize="isAnonymous()">
        <ul class="nav-x nav navbar-nav navbar-right">
          <li><a th:href="@{/login}">SIGN IN</a></li>
          <li><a href="#">SIGN UP</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<h1>Welcome</h1>
<p>Welcome to the Spring MVC Blog.</p>
<footer th:fragment="site-footer" class="footer">
  <div class="container">
    &copy; Learning Management System 2016
  </div>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
  <script type="text/javascript">
    $('#bs-example-navbar-collapse-1').on('show.bs.collapse', function () {
//      alert("Show")
    })
  </script>
</footer>
</body>
</html>
